name: Android CI

on:
  push:
    branches: [ "main" ]
    paths: [ 'android-app/**' ]
  pull_request:
    branches: [ "main" ]
    paths: [ 'android-app/**' ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: set up JDK 11
      uses: actions/setup-java@v4
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: gradle
        cache-dependency-path: ./android-app/build.gradle

    - name: Grant execute permission for gradlew
      run: chmod +x ./android-app/gradlew
      
    - name: Build with Gradle
      run: cd ./android-app & gradlew build
